<toaster-container [toasterconfig]="config"></toaster-container>
<block-ui>
  <div class="row">
    <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
      <ngx-status-card title="A/A Oficina 1" id="1" type="primary">
        <i class="nb-gear"></i>
      </ngx-status-card>
      <ngx-status-card title="A/A Oficina 2" id="2" type="primary">
        <i class="nb-gear"></i>
      </ngx-status-card>
      <ngx-status-card title="A/A Oficina 3" id="3" type="primary">
        <i class="nb-gear"></i>
      </ngx-status-card>
      <ngx-status-card title="A/A Recepción" id="4" type="primary">
        <i class="nb-gear"></i>
      </ngx-status-card>
    </div>
    <div class="col-xxxl-6 col-xl-12">
      <ngx-rooms></ngx-rooms>
    </div>
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-temperature></ngx-temperature>
    </div>
  </div>
  <div class="row">
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-weather></ngx-weather>
    </div>
    <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
      <ngx-codeconsole></ngx-codeconsole>
    </div>
  </div>
</block-ui>
