<nb-card size="medium" >
  <nb-tabset fullWidth>

    <nb-tab tabTitle="{{nameSplit}}">

      <div class="slider-container">
        <ngx-temperature-dragger [(value)]="temperature" (power)="temperatureOff = !$event"
                                 [min]="16" [max]="32" [disableArcColor]="colors.layoutBg"
                                 [fillColors]="colors.temperature">

          <div class="slider-value-container"  [ngClass]="{ 'off': temperatureOff }">
            <div class="value temperature">
              {{ temperatureOff ? '--' : (temperature | ngxRound) }}
            </div>
            <div class="desc">
              Celsius
            </div>
          </div>
        </ngx-temperature-dragger>
      </div>
      <div [(ngModel)]="temperatureMode" ngbRadioGroup data-toggle="buttons"
           class="btn-group btn-group-toggle btn-divided-group">
        <label class="btn btn-icon" [ngClass]="{ 'active': optionService==2 }">
          <input type="radio" value="cool" /><i class="nb-snowy-circled"></i>
        </label>
        <label class="btn btn-icon" [ngClass]="{ 'active': optionService==1 }">
          <input type="radio" value="heat"/><i class="nb-flame-circled"></i>
        </label>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>