<nb-card size="medium">
  <nb-card-body *ngIf="currentWeather !== undefined">
    <div class="location">
      <span>Barcelona</span>
    </div>
    <div class="date">
      <span>{{currentWeather['date']}}</span>
    </div>
    <div class="daily-forecast">
      <div class="info">
        <div class="temperature">
          <span>{{currentWeather['temp']}}&deg;</span>
        </div>
        <div class="icon">
          <img src="{{currentWeather['icon']}}" />
        </div>
      </div>
      <div class="details" *ngIf="currentWeather !== undefined">
        <div class="parameter">
          <span class="parameter-name">max</span>
          <span class="parameter-value">{{currentWeather['tempMax']}}&deg;</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">min</span>
          <span class="parameter-value">{{currentWeather['tempMin']}}&deg;</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">viento</span>
          <span class="parameter-value">{{currentWeather['viento']}} km/h</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">hum</span>
          <span class="parameter-value">{{currentWeather['humedad']}}%</span>
        </div>
      </div>
    </div>
    <div class="weekly-forecast">
      <div class="day" *ngFor="let forecastSingle of forecastHtml">
        <span class="caption">{{forecastSingle.date}}</span>
        <img src="{{forecastSingle.icon}}" />
        <span class="temperature">{{forecastSingle.tempAvg}}&deg;</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>
