<div class="codeConsole">
    <codemirror [(ngModel)]="code" [config]="config"></codemirror>
    <button name="cleanLogs" (click)="cleanLogs()" id="buttonCleanLogs" class="btn btn-danger">Clear logs</button>
</div>