<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <div class="logo"><span>Climatización</span> Inteligente </div>
    <span>Hackaton DAR 2018</span>
  </div>
</div>

<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <nb-action>
    <img src="assets/images/logo_everis.png" alt="Everis" />
  </nb-action>
</nb-actions>
